body {
	background-color: #cfdaff;
	font: 1.2rem Comic Sans MS;
}

.input-container {
	align-items: center;
	margin-top: 20%;
	background-color: #f0f0f0;
	width: 75%;
	margin-left: 12.5%;
	text-align: center;
	border-radius: 20px;
	z-index: 2;
	padding-bottom: 1%
}

.beatmap-link{
	width: 75%;
	height: 25px;
	border-radius: 5px;
	margin: 10px;
	border-width: 1px;
}

textarea{
	width: 75%;
	height: 75px;
	border-radius: 5px;
	resize:none
}

.button-submit{
	width: 75%;
	height: 35px;
	background-color: #ff7729;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 2px;
	border-width: 1.5px
}

.button-oauth{
	
}

